button {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 45px;
    padding: 30px;
    width: 400px;
}
button.isSelected {
    border: solid;
}
